
@{
    ViewBag.Title = "Index";
}

<h2>Algunos ejemplos del uso de Razor</h2>
<h1>Hacer una simpre suma una simple suma..</h1>
<h3>(1 + 2 = @@(1 + 2) da como resultado lo siguiente:)</h3>
<span>1 + 2 = @(1 + 2)</span>

<h1>Un Block de  codigo de la siguiente forma..</h1>
<h3>@@{
    int x = 123;
    string y = "because.";
}</h3>


