
@model List<AppMvc.Models.Album>

@{
    ViewBag.Title = "Lista";
    //List<AppMvc.Models.Album> albunes = ViewBag.Albums;
}


<h1>Lista</h1>
<h2>Lista de Albunes:</h2>
    @foreach (var a in (Model))
    {
        <li>@a.Title</li>
    }
    



