@{
    ViewBag.Title = "Area 51"; /*Claro, este es el titulo que aparece en la pestaña*/
}


<div class="jumbotron">
    <h1>FERNANDO ALARCON</h1>
    <p class="lead">Estudiante de Ingenieria en Informatica. No sabe nada de nada pero si queres podes entrar a su perfil de facebook haciendo clic en el boton de abajo.</p>
    <p><a href="http://facebook.com/fer022" class="btn btn-primary btn-lg">Ingresar al perfil. &raquo;</a></p>
</div>
<div class="jumbotron">
    <h2>Probando</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>